[user]
    name = {{ .git.name }}
    email = {{ .git.email }}

[github]
    user = {{ .github.user }}

[ghq]
    user = {{ .github.user }}
    root = ~/config
    root = ~/projects
    root = ~/lab
    root = ~/ventures
    root = ~/reference
    root = ~/scratch/git
    root = ~/work
